<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:og="http://opengraphprotocol.org/schema/"> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{$item_title} | {$seo_title}</title>
		<meta name="description" content="{$item_details|strip_tags|truncate:255}">
		<meta name="keyword" content="{$item_title|replace:" ":","}">
		<link type="text/css" rel="stylesheet" href="./templates/v2/css/v2.css"  />
	</head>
	<body class="body">
	<div class="redirect_message">
	You Will Be Redirected To <br /><a href="{$item_url}">{$item_url}</a><br /> In <b>3</b> Seconds.
	<meta http-equiv="refresh" content="3;URL={$item_url}">
	</div>
</body>
</html>