		<!-- Related Items Widget -->
		{if $isthererelated gt 0}
		<div class="related">
			<h3><i class="icon-link"></i> Related Items</h3>
			
				<!-- Related Items Loop -->
				{section name=x loop=$related}
					<div class="feeditem">
					<!-- Item Image (extracted from the item details) -->
					{if $related[x].item_details|html_decode|first_image:$related[x].item_feed_id}
					<img src="{$related[x].item_details|html_decode|first_image:$related[x].item_feed_id}" />
					{/if}
					<!-- Item Details Link -->
					<a class="item_url" {if $direct_links eq 1}href="redirect.php?id={$related[x].item_id}" target="_BLANK"{else}href="{if $friendly_urls eq 1}item-{$related[x].item_id}-{$related[x].item_title|slug}{else}item.php?id={$related[x].item_id}{/if}"{/if}>{$related[x].item_title|html_decode}</a>
					<div class="item_details">
						<!-- Item Published Date -->
						<span><i class="icon-calendar"></i> {$related[x].item_unix_datetime|get_since}</span>
						<!-- Item category Link -->
						<span><i class="icon-folder-open"></i> <a href="{if $friendly_urls eq 1}category-{$related[x].category_id}-1-{$related[x].category_title|slug}{else}category.php?id={$related[x].category_id}{/if}">{$related[x].category_title}</a></span>
						<!-- Item source Link -->
						<span><i class="icon-rss"></i> <a href="{if $friendly_urls eq 1}feed-{$related[x].item_feed_id}-1-{$related[x].item_feed_id|source_name|slug}{else}feed.php?id={$related[x].item_feed_id}{/if}">{$related[x].item_feed_id|source_name}</a></span>
						<!-- Item Hits Counter -->
						<span><i class="icon-eye-open"></i> {$related[x].item_hits}</span>
					</div>
					</div>
				{/section}
		</div>
		{/if}